
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.homeHead{
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}

.navLogo img{
  width: 150px;
  height: 100px;
}

.navList ul{
  gap: 40px;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  padding: 12px 8px;
  color: rgb(18, 8, 18);
  font-size: 1.2rem;
  position: relative;
}

.navIcon{
  color: grey;
  width: 10%;
  display: flex;
  justify-content:space-evenly;
}

.navList ul li{
  position: relative;
  margin-bottom: 12px;
}
.navList ul li a{
  text-decoration: none;
  color: rgb(18, 8, 18);
}
.navList ul li:hover{

  padding: 3px;
  background-color:rgb(245, 244, 244);
}


.arrival-dropdown-menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:rgb(245, 244, 244);
}
.arrival-dropdown-menu ul{
  display: none;
}
.arrival-dropdown:hover .arrival-dropdown-menu ul {
  display: block;
  color: #696969;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 46px 1px 2px;
  margin: 0;
}




/* .arrival-dropdown span:hover {
  padding: 7px;
  background-color: rgba(241, 230, 230, 0.603);
} */
/* 
#arrival-dropdown-menu{
  width: 7.3%;
  display: none;
  position: absolute;
  color: rgb(97, 95, 95);
  font-weight: 100;

 }


.arrival-dropdown:hover #arrival-dropdown-menu {
  display: grid;
  gap:12px;
  background-color: rgba(241, 230, 230, 0.603);
  padding: 10px;
}

.men-dropdown{
  display: flex;
  gap: 70px;
}
#top-dropdown-menu{
  position:absolute;
  display: grid;
  
  margin-top: 3%;
  gap: 10px;
  align-items: center;
}

#sleepwear-dropdown-menu{
  position:absolute;
  display: grid;
  margin-top: 1%;
  gap: 10px;
}

#activewear-dropdown-menu{
  position:absolute;
  display: grid;
  margin-top: 1%;
  gap: 10px;
}

#footwear-dropdown-menu{
  position:absolute;
  display: grid;
  margin-top: 1%;
  gap: 10px;
}

#accesorries-dropdown-menu{
  position:absolute;
  display: grid;
  margin-top: 1%;
  gap: 10px;

} */
