
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.homeHead{
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}

.navLogo img{
  width: 150px;
  height: 100px;
}


.navList ul{
  gap: 60px;
  display: flex;
  list-style-type: none;
  padding: 12px 8px;
  color: rgb(18, 8, 18);
  font-size: 1.2rem;
  position: relative;
  /* margin-left: 0.5rem; */
}

.navIcon{
  color: grey;
  width: 10%;
  display: flex;
  justify-content:space-evenly;
}

.navList ul li{
  position: relative;
  /* margin-bottom: -15px; */
  padding: 3px;
}
.navList ul li a{
  text-decoration: none;
  color: rgb(18, 8, 18);
}
.navList ul li:hover{

  padding:3px;
  background-color:rgb(245, 244, 244);
}



.arrival-dropdown-menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:rgb(245, 244, 244);
}
.arrival-dropdown-menu ul{
  display: none;
}
.arrival-dropdown:hover .arrival-dropdown-menu ul {
  display: block;
  color: #696969;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 46px 1px 2px;
  margin: 0;
}

#arrival-dropdown-menu{
  width: 7.3%;
  display: none;
  position: absolute;
  color: rgb(97, 95, 95);
  font-weight: 100;
}


.men-dropdown-menu{
  display: none;
  width: 1500px;
  left: -500px;
  border: 1px solid black;
  background-color:rgba(245, 244, 244, 0.658);
  margin-top: 15px;
  position: absolute;

}



.men-dropdown:hover  .men-dropdown-menu {
  display: block;
}



.men-dropdown-menu ul{
  gap: 0;
  font-size: medium;
}
.men-dropdown-menu span{
  font-weight: bold;
}

.men-dropdown-menu ul{
  display: flex;
  justify-content: space-between;
} 

#top-dropdown-menu,
#sleepwear-dropdown-menu,
#activewear-dropdown-menu,
#footwear-dropdown-menu,
#accesories-dropdown-menu {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  margin-left: -10px;
}


.women-dropdown-menu{
  display: none;
  width: 1500px;
  left: -500px;
  border: 1px solid black;
  background-color:rgba(245, 244, 244, 0.658);
  margin-top: 15px;
  position: absolute;

}



.women-dropdown:hover  .women-dropdown-menu {
  display: block;
}



.women-dropdown-menu ul{
  gap: 0;
  font-size: medium;
}
.women-dropdown-menu span{
  font-weight: bold;
}

.women-dropdown-menu ul{
  display: flex;
  justify-content: space-between;
} 

#ready-dropdown-menu,
#activewear-dropdown-menu,
#lingerie-dropdown-menu,
#footwear-dropdown-menu,
#accesories-dropdown-menu {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  margin-left: -10px;
}


.kids-dropdown-menu{
  display: none;
  width: 1500px;
  left: -700px;
  border: 1px solid black;
  background-color:rgba(245, 244, 244, 0.658);
  margin-top: 15px;
  position: absolute;

}

.kids-dropdown:hover  .kids-dropdown-menu {
  display: block;
}

.kids-dropdown-menu ul{
  gap: 0;
  font-size: medium;
}

.kids-dropdown-menu span{
  font-weight: bold;
}

.kids-dropdown-menu ul{
  display: flex;
  justify-content: space-between;
} 

#baby-dropdown-menu,
#boys-dropdown-menu,
#girls-dropdown-menu,
#footwear-dropdown-menu,
#accesories-dropdown-menu {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  margin-left: -10px;
}

.polorepublica-dropdown-menu{
  display: none;
  width: 1500px;
  left: -800px;
  border: 1px solid black;
  background-color:rgba(245, 244, 244, 0.658);
  margin-top: 15px;
  position: absolute;

}

.polorepublica-dropdown:hover  .polorepublica-dropdown-menu {
  display: block;
}

.polorepublica-dropdown-menu ul{
  gap: 0;
  font-size: medium;
}

.polorepublica-dropdown-menu span{
  font-weight: bold;
}

.polorepublica-dropdown-menu ul{
  display: flex;
  justify-content: space-between;
} 

#top-dropdown-menu,
#sleepwear-dropdown-menu,
#activewear-dropdown-menu,
#footwear-dropdown-menu{
  display: flex;
  flex-direction: column;
  font-weight: 100;
  margin-left: -10px;
}


.home-dropdown-menu{
  display: none;
  width: 1500px;
  left: -1000px;
  border: 1px solid black;
  background-color:rgba(245, 244, 244, 0.658);
  margin-top: 15px;
  position: absolute;

}

.home-dropdown:hover  .home-dropdown-menu {
  display: block;
}

.home-dropdown-menu ul{
  gap: 0;
  font-size: medium;
}

.home-dropdown-menu span{
  font-weight: bold;
}

.home-dropdown-menu ul{
  display: flex;
  justify-content: space-between;
} 

#top-dropdown-menu,
#sleepwear-dropdown-menu,
#activewear-dropdown-menu,
#footwear-dropdown-menu{
  display: flex;
  flex-direction: column;
  font-weight: 100;
  margin-left: -10px;
}
